:root {
    --primary-color: rgba(239, 239, 239, 1);
    --overlay-color: rgba(239, 239, 239, 1);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.landing {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landingLeft {
    margin: 20px;
    padding: 10px;
}

.landingRight {
    padding: 40px;
}

h1, h2, h3, h4, h5, a {
    font-family: "Mr Eaves San OT", "Josefin Sans", sans-serif;
}

p {
    font-family: 'Whitman', serif;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #87C6BD;
    transition: color 0.4s ease;
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    font-family: "Mr Eaves San OT", "Josefin Sans", sans-serif;
  }

  button:hover {
      background-color: #87C6BD;
      transition: background-color 0.4s ease;
  }

.workHeading {
    display: flex;
    justify-content: center;
    margin: 60px;
    margin-bottom: 70px;
}

.project {
    display: flex;
    /* justify-content: ; */
    align-items: center;
    margin: 40px;
}

.projectLeft {
    padding: 60px;
    margin-right: 10px;
}
.projectRight {
    margin: 20px;
}

.projectLeft > h5 {
    margin-bottom: 10px;
    font-size: 12px;
}

.projectLeft > h4 {
    margin-bottom: 20px;
    font-size: 24px;
}



footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    padding: 40px;
}

footer > h2 {
    margin-bottom: 10px;
}

.socialIcons {
    list-style-type: none;
    display:inline-block;
    margin: 20px;
    margin-bottom: 40px;
}

